body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #eceff2;
  overflow-x: hidden;
}

#main {
  width: 626px;
  height: 486px;
  margin: 64px 199px;
}

h1 {
  font-family: "Dosis", sans-serif;
  color: #3f3d56;
  font-weight: normal;
}

h1 span {
  color: #ee24ff;
  justify-content: center;
  font-weight: bold;
}

p {
  color: #828282;
  margin: auto;
  align-items: center;
}

p strong,
#footer a {
  color: #3f3d56;
}

p span {
  color: #828282;
  font-weight: bold;
}

#line {
  width: 520px;
  height: 0px;
  margin: 24px auto 16px;
  border: 1px solid #eceff2;
}

#footer a {
  text-decoration-line: none;
  font-weight: bold;
}

#footer a + a {
  margin-left: 42px;
  margin-bottom: 42px;
}

#footer img {
  width: 100vw;
  left: 0;
  bottom: -30px;
  padding-top: 32px;
}